.vs/
Calculator/bin/Debug/Calculator.exe
Calculator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Calculator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Calculator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Calculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Calculator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Calculator/obj/Debug/Calculator.pdb
Calculator/obj/Debug/Calculator.exe
Calculator/obj/Debug/Calculator.csprojAssemblyReference.cache
Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
Calculator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
Calculator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
Calculator/obj/Debug/Calculator.csproj.CopyComplete
Calculator/obj/Debug/Calculator.Properties.Resources.resources
Calculator/obj/Debug/Calculator.Form1.resources
Calculator/bin/Debug/Windows.Forms.HintTextBox.pdb
Calculator/bin/Debug/Windows.Forms.HintTextBox.dll
Calculator/bin/Debug/Calculator.pdb
Calculator/bin/Debug/Calculator.exe.config
packages/
